#include "behaviors/follower.dtsi"

/ {
	left_encoder: encoder_left {
		compatible = "efog,ec11-ish";
		a-gpios = <&gpio0 17 0>;
		b-gpios = <&gpio0 16 0>;
		steps = <48>;
		pulses = <4>;
	};

	right_encoder: encoder_right {
		compatible = "efog,ec11-ish";
		a-gpios = <&gpio1 8 0>;
		b-gpios = <&gpio1 9 0>;
		steps = <48>;
		pulses = <4>;
	};

	sensors: sensors {
		compatible = "zmk,keymap-sensors";
		sensors = <&left_encoder &right_encoder>;
		triggers-per-rotation = <12>;
	};
};

&left_encoder { status = "okay"; };
&right_encoder { status = "okay"; };
